<div class="menu w1000">
   <a href="/admin/" {if $y_c eq 'index'}class="hover"{/if}>首页</a>
   <a href="/admin/auction/" {if $y_c eq 'auction' }class="hover"{/if}>拍卖管理</a>
   <a href="/admin/auctionlist/" {if $y_c eq 'auctionlist'}class="hover"{/if}>交易管理</a>
   <a href="/admin/manager/" {if $y_c eq 'manager'}class="hover"{/if}>系统管理</a>
   {if $login_info.type== 0}
   	<a href="/admin/notice/" {if $y_c eq 'notice' }class="hover"{/if}>系统通知</a>
   {else}
   	<a href="/admin/account/" {if $y_c eq 'account'}class="hover"{/if}>账户管理</a>
   {/if}
</div>
