{extends file="main.html"}
{block name="title"}账户中心{/block}
{block name="menu"}
{include file="admin/_sub_nav.html"}
{/block}
{block name="body"}
<div id="mcentent" class="cf">
  <div class="fqleftBg">
    <!--系统通知左侧开始-->
    <div class="fqleft">
      <ul>
        <li><a href="/admin/account/" class="hover">公司基本信息</a></li>
        <li><a href="/admin/account/manage/">账户管理</a></li>
      </ul>
    </div>
    <!--系统通知左侧结束-->
    <!--系统通知右侧侧开始-->
    <div class="fqright10">
      <div class="mebInf10">
        <table width="100%" cellspacing="0" cellpadding="0" style="">
          <tbody>
            <tr>
              <th>经销商全称：</th>
              <td>
                  {$dealer_data.name}
              </td>
            </tr>
            <tr>
              <th>登录账号：</th>
                <td>
                    {$dealer_data.username}
                </td>
              </tr>
            <tr>
              <th >所在地：</th>
              <td>
                {$dealer_data.city_name}
              </td>
            </tr>
            <tr>
              <th >联系人：</th>
              <td>
                {$dealer_data.user_name}
              </td>
            </tr>
            <tr>
              <th class="">联系电话：</th>
              <td>
                {$dealer_data.user_mobile}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--系统通知右侧侧结束-->
  </div>
</div>
<div class="clear"></div>
{/block}