{extends file="main.html"}
{block name="title"}账户管理{/block}

{block name="menu"}
{include file="admin/_sub_nav.html"}
{/block}
{block name="cssjs"}
 <style type="text/css">
 .fqright table .table_td_w{
  background-color:#FAFAFA;
  border-right:1px solid #ECECEC;
  color:#666666;
  text-align:right;
  width:185px;
  border-bottom:1px solid #ECECEC;
  line-height:24px;
  padding: 10px 0;
  font-weight:bold;
 }
 .fqright table td{
   border-bottom:1px solid #ECECEC;
   line-height:24px;
   padding: 10px 0;
   padding-left:20px;
 }
.mebInf{
  background-color:#FFFFFF;
  border:1px solid #BABABA;
  overflow:hidden;
  }
  
</style>
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery-ui-1.10.3.custom.min.js?v={#cssjs_version#}"></script>
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery.validationEngine-zh_CN.js?v={#cssjs_version#}"></script>
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery.validationEngine.js?v={#cssjs_version#}"></script>
<link href="{#YXP_STATIC_DOMAIN#}/css/cp/validationEngine.jquery.css?v={#cssjs_version#}" rel="stylesheet" type="text/css" />
{/block}
{block name="body"}
    <div id="mcentent" class="cf">
      <div class="fqleftBg" style="height:416px">
      <!--系统通知左侧开始-->
      <div class="fqleft">
       <ul>
         <li><a href="/admin/manager/index/" {if $y_c eq 'manager' && $y_a eq 'index'}class="hover"{/if}>经销商管理</a></li>
         <li><a href="/admin/manager/account/" {if $y_c eq 'manager' && $y_a eq 'account'}class="hover"{/if}>账户管理</a></li>
       </ul>
      </div>
      <!--系统通知左侧结束-->
      <!--系统通知右侧侧开始-->
      <div class="fqright">
          <div class="mebInf" style="line-height:30px;">
            <form action="" method="post" id="formcheck">
        <table width="100%" cellspacing="0" cellpadding="0" style="">
        <tbody>
         <tr>
            <td class="table_td_w">登陆账号：</td>
            <td>
            {$y_user.username}
            </td>
         </tr>
         <tr>
            <td class="table_td_w">密码：</td>
            <td>
            <input name="password" type="password" id="password" class="fqchepai validate[required,minSize[6],maxSize[20],custom[onlyLetterNumber]]" value="" data-errormessage-value-missing=" * 请填写密码！"  style="margin-right:0">
            </td>
         </tr>
         <tr>
            <td class="table_td_w">确认密码：</td>
            <td>
            <input name="sur_password" type="password" id="sur_password" class="fqchepai validate[condRequired[password],equals[password]]" value="" style="margin-right:0">
            </td>
         </tr>
          <tr><td align="center" colspan="2" style="padding-right:52px">
            <input type="button" value="修改" id="sub" onclick="send();" class="vmBtn2">
          </td>
         </tr>
        </tbody>
        </table>
      </form>

        </div>
      </div>
      <!--系统通知右侧侧结束-->
    </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">

$(document).ready(function() {
    $("#formcheck").validationEngine({
      scroll: false,
      promptPosition: 'centerRight',
      maxErrorsPerField: 1,
      showOneMessage: true,
      addPromptClass: 'formError-noArrow formError-text'
    });
  });

function send()
{
   if($("#formcheck").validationEngine('validate'))
   {
      var password = $('#password').val();
      var pwd2 = $('#sur_password').val();
      var mobile = $('#mobile').val();
      $.post('/admin/manager/account/',{ opt:'edit',mobile:mobile,password:password,pwd2:pwd2 },function(data){
        if(data.ret == 1) {
          alert(data.msg);
          location.href = '/admin';
        }else {
          alert(data.msg);
          return false;
        }
      },"json");
   }
}
</script>
{/block}
