{extends file="main.html"}
{block name="title"}查客导入{/block}

{block name="cssjs"}
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/padapi/common.js?v={#cssjs_version#}"></script>
<script src="{#YXP_STATIC_DOMAIN#}/js/yxp_chosen/yxp_chosen.jquery.js?v={#cssjs_version#}" type="text/javascript"></script>
<link href="{#YXP_STATIC_DOMAIN#}/js/yxp_chosen/yxp_chosen.jquery.css?v={#cssjs_version#}" rel="stylesheet" type="text/css" />
{/block}
{block name="menu"}
{include file="admin/_sub_nav.html"}
{/block}

{block name="body"}
<style>
    .fordheader{
        width: 0px;
    }
    #pre_choose{ cursor: pointer;color: blue; width: 160px; height: 30px;line-height:30px;text-align: center; border: 1px solid #d8d8d8;}
</style>
<div id="mcon">
    <div id="mcentent" class="cf">
        <div class="fqleftBg">

            <!--系统通知左侧开始-->
            <div class="fqleft">
             <ul>
               <li><a href="javascript:void(0)" class="hover">查客导入</a></li>
             </ul>
            </div>
            <!--发起拍左侧卖开始-->
            <!--发起拍卖右侧侧开始-->
            <div class="fqright">
                <div class="fptitle">
                    <ul class="fptitle_title">
                        <li>
                          <a href="#" class="current">查客导入</a>
                        </li>
                    </ul>
                </div>
            <div>
            <div class="fqsearch2">
                <form action="" method="get" id="auctionlist_form">
                <input type="hidden" name="status" id="status" value="{$get.status|default:0}">
                <ul>
                    <li style="width:100%">
                        <em>车系车型：</em>
                            <span id="car_name_div">
                            <input type="hidden" id="ford_car_name" name="ford_car_name" value="{$ford.car_name}">
                            <input type="hidden" id="ford_brand_id" name="ford_brand_id" value="{$ford.brand_id}">
                            <input type="hidden" id="ford_series_id" name="ford_series_id" value="{$ford.series_id}">
                            <input type="hidden" id="ford_trim_id" name="ford_trim_id" value="{$ford.trim_id}">
                            </span>
                            <span id="ford_chosen_target" style="cursor:pointer;color:blue;">
                            {if $ford}
                            <span style="cursor:pointer;color:blue">{$ford.serial_name} {$ford.model_name}{$ford.trim_name}
                            </span>
                            {else}
                            <input type="text" id="pre_choose" value="请选择车型" class="validate[minSize[10]]" readonly >
                            {/if}
                            </span>
                    </li>
                    <li>
                       <em>车牌号：</em>
                        <input name="no" id="no" type="text" class="fqvinm" style="height:auto;width: 100px;" value="{$get.no|escape:'html'}"/>
                    </li>
                    <li>
                       <em>VIN码：</em>
                       <input name="vin" id="vin" type="text" class="fqvinm" value="{$get.vin|escape:'html'}" style="width: 100px;"/>
                        </li>
                         <li style="width: 320px;">
                        <em>地区：</em>
                        <span class="manager_pro"><select name="provinceid" id="provinceid"></select></span>
                        <span class="manager_city"><select class="cityid" name="cityid" disabled="disabled"></select></span>
                        <script type="text/javascript">
                            var list = new Array();
                            {if $get.provinceid}
                            list['provinceid'] = '{$get.provinceid}';
                            {/if}
                            {if $get.cityid}
                            list['cityid'] = '{$get.cityid}';
                            {/if}
                        </script>
                        <li class="search-li">
                        <a href="javascript:auctionlist_search()" class="search-btn">搜 索</a>
                        <a href="javascript:reset_search()" style="margin-left:70px" class="search-btn">重置</a>
                       <!--  <a href="/admin/auctionlist/?type=export&series_id={$get.series_id}&trim_id={$get.trim_id}&no={$get.no}&vin={$get.vin}&provinceid={$get.provinceid}&cityid={$get.cityid}" class=""><img src="{#YXP_STATIC_DOMAIN#}/css/ford/images/excle.jpg"></a> -->
                    </li>
                </ul>
            </div>
            <div class="fqbox2">
                <div class="fqboxfblist">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr class="tr-h">
                            <td>车辆信息</td>
                            <td>车牌号</td>
                            <td width="80">VIN</td>
                            <td width="100">操作</td>
                        </tr>
                        {if !empty($cars)}
                            {foreach $cars as $k => $v}
                            <tr class='{cycle values=",tr-odd"}'>
                                <td class="fqboxfbbg033" title="{$v.carfullname}" style="text-align:center">{$v.carfullname}</td>
                                <td class="fqboxfbbg033" title="{$v.licensecar}" style="text-align:center">{$v.licensecar}</td>
                                <td class="fqboxfbbg033" style="text-align:center">{$v.vin|default:'--'}</td>
                                <td align="center" class="fqboxfbbg05">
                                    <p class="p5">
                                        <a href="/admin/auction/import/?page={$page}&hy_carid={$v.carid}" target="" class="blue">
                                            导入
                                        </a>

                                    </p>
                                    {if $v.source_from<3}
                                        <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$v.taskid}" target="_blank" class="blue">查客报告</a> 
                                    {else}
                                        <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$v.carid}" target="_blank" class="blue">查客报告</a> 
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                        {else}
                            <tr>
                                <td colspan="6" style="text-align:center">
                                    <p class="p5">暂无数据</p>
                                </td>
                            </tr>
                        {/if}
                    </table>
                </div>
        </div>
    </div>
    <div class="go-page-r">{$links}</div>
      <!--发起拍卖右侧侧结束-->
    </div>
</div>
</div>
<SCRIPT>
function changetxt(dom){
    if($(dom).val()){
        $('#yxp_trim_select').removeClass("hide");
    }else{
        $('#yxp_trim_select').addClass("hide");
    }  
}
function auctionlist_search(){
    var url = '/admin/auction/import/?page=1',
    provinceid = $('#provinceid').val(),
    cityid = $('#cityid').val(),

    brand = $('#ford_brand_id').val(),
    model = $('#ford_series_id').val(),
    trim = $('#ford_trim_id').val(),
    no = $('#no').val(),
    vin = $('#vin').val(),
    prov = $('#yxp_prov_select').val(),
    city = $('#yxp_city_select').val();

    if(brand != '') {
        url += '&brand_id='+brand
    }
    if(model != '') {
        model = model.split(',');
        url += '&series_id='+model[0];
    }
    if(trim != '') {
      	trim = trim.split(',');
      	url += '&trim_id='+trim[0];
    }
    url += provinceid ? '&provinceid='+provinceid : '';
    url += cityid ? '&cityid='+cityid : '';
    url += no ? '&no='+no : '';
    url += vin ? '&vin='+vin : '';
    url += prov ? '&prov_id='+prov.split(',')[0] : '';
    url += city ? '&city_id='+city.split(',')[0] : '';
    location.href = url;
}

$(function(){
    get_getpro(list);
    //$('#yxp_serial_select').append("<option value='0' selected>请选择品牌</option>");
    //yxp_serial_model_trim('#yxp_serial_select', '#yxp_model_select', '#yxp_trim_select'); //品牌 车系
    //$(".fancybox").fancybox();
    //$(".datepicker").datepicker({ changeYear: true });
    
    //车系 车型选择
    var apiurl = 'http://padapi.youxinpai.com';
    var settings = {
        id:'yxp_chosen_target',
        enable:true,
        cancel:true,
        footbar_btn_callback:function(event,seltext){
        if(cho_order.get_value(0) && cho_order.get_value(1) && cho_order.get_value(2)) {

            $('#ford_brand_id').val( cho_order.get_value(0) );
            $('#ford_series_id').val( cho_order.get_value(1) );
            $('#ford_trim_id').val( cho_order.get_value(2) );
            var data = cho_order.get_data(2);
            var year = data.fld_ccsj;
            seltext =   cho_order.get_text(0) + " "+ cho_order.get_text(1) + " "+ cho_order.get_text(2);
            $('#ford_car_name').val( seltext );
            event.data.target.text(seltext);
        }            
            },
            items:[
                    {
                        id:'yxp_serial_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=brand&jsoncallback=?&',
                        width:180,
                        valuefield:'iautos_brand_id',
                        showfield:'iautos_brand_name',
                        defaulthtml:'请选择品牌'
                    },
                    {
                        id:'yxp_model_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=series&jsoncallback=?&',
                        group:true,
                        width:180,
                        valuefield:'iautos_series_id',
                        showfield:'iautos_series_name',
                        defaulthtml:'请先选择车系'
                    },
                    {
                        id:'yxp_trim_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=mode&jsoncallback=?&',
                        width:400,
                        group:true,
                        valuefield:'iautos_mode_id',
                        showfield:'cxk_mode_name',
                        defaulthtml:'请先选择车型'
                    }
            ]
        };
            
            //初始化品牌车系车型
        cho_order = $("#ford_chosen_target").yxp_chosen(settings);
    
});

function reset_search()
{
  $('#auctionlist_form input[type=text],input[type=hidden],select').val('');
  $('#ford_chosen_target').html('<input type="text" id="pre_choose" value="请选择车型" class="validate[minSize[10]]" readonly >');
}
</SCRIPT>
{/block}