<div class="hide" id="fac_2">
	<div class="fqboxfh"><em id='over'>发拍确认</em></div>
	<div class="fqboxpok">
		<span id="msg" style="text-align:center;font-size:16px;line-height:24px;color:#0095c7;font-weight:700;display:block;margin-top:-30px;"></span>
		<ul>
			<li><em>卖家经销商：</em><span>{$car.dealer_info.name}</span></li>
			<li id="pn" class="hide"><em>拍品编号：</em><span></span></li>
			<li><em>车型：</em><span id="ae_trim"></span></li>
			<li><em>保留价：</em><span id="ae_price"></span>万元</li>
			<li><em>起拍价：</em><span id="start_price_span"></span>万元</li>
			<li><em>竞价开始时间：</em><span id="ae_time"></span></li>
		</ul>
	</div>
	<p class="tac">
		<a id="submit" href="javascript:void(0)" class="obtn" style="margin-right: 10px;">确定</a>
		<a id="pre" href="javascript:fac_step(1)" class="obtn bg-gray">上一页</a>
		{if $car_info.source_from<3}
        	<a id="check" href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$car_info.taskid}" target="_blank" class="obtn hide" style="margin-right: 10px;">查看拍品</a> 
        {else}
            <a id="check" href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$car_info.carid}" target="_blank"  class="obtn hide" style="margin-right: 10px;">查看拍品</a> 
        {/if}

		<a id="keep" class="obtn hide"  href="/admin/auction/">继续发拍</a>
	</p>
</div>