{extends file="main.html"}
{block name="title"}系统通知{/block}
{block name="menu"}
{include file="admin/_sub_nav.html"}
{/block}
<script type="text/javascript">
window.onload=function(){
//play tr各行换行颜色JS-->
		var otab = document.getElementById('tab1');
		var thiscolor = '';
		for (var i = 0; i < otab.tBodies[0].rows.length; i++) {
			if (i % 2) {
				otab.tBodies[0].rows[i].style.background = '';
			}
			else {
				otab.tBodies[0].rows[i].style.background = '#f7f7f7';
			}
		}
//stop tr各行换行颜色JS-->
}
</script>
</head>
{block name="body"}
 <div id="mcon">
    <div id="mcentent" class="cf">
      <div class="fqleftBg">
      <!--系统通知左侧开始-->
      <div class="fqleft">
       <ul>
         <li><a href="/admin/notice/" class="hover">历史通知</a></li>
         <li><a href="/admin/notice/addnotice">新增通知</a></li>
       </ul>
      </div>
      <!--系统通知左侧结束-->
      <!--系统通知右侧侧开始-->
      <div class="fqright">
       <div class="fqbox2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="tr-h">
                <td width="53">序号</td>
                <td width="182">消息标题</td>
                <td width="277">消息内容</td>
                <td width="132">发布日期</td>
                <td width="150" class="last">操作</td>
              </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab1" class="tabColor">
            {if $info}
              {foreach $info as $a}
              <tr class='{cycle values=",tr-odd"}'>
                <td height="40" width="53" align="center">{$a.ids}</td>
                <td width="180"><span title="{$a.title|escape:'html'}">{$a.title|truncate:15|escape:'html'}</span></td>
                <td width="275"><span>{$a.content|truncate:20|escape:'html'}</span></td>
                 <td width="130" align="center">{$a.createtime|date_format:"%Y-%m-%d %H:%M:%S"|escape:'html'}</td>
                <td width="160" align="center">
                      <span>
                          <a href="/admin/notice/addnotice/?messageid_show={$a.messageid}" class="blue">查看</a>
                      </span>
                       <span>
                          <a href="/admin/notice/addnotice/?messageid={$a.messageid}" class="blue">编辑</a>
                      </span>
                      <span>
                          <a href="javascript:void(0);" onclick="del({$a.messageid},{$page})" class="blue">删除</a>
                      </span>
                </td>
              </tr>
              {/foreach}
              {else}
              <tr class='{cycle values=",tr-odd"}'>
                <td height="40" width="53" align="center">暂无任何信息</td>
              </tr>
              {/if}
            </table>
       </div>
      </form> 
      <div class="go-page-r">{$links}</div>
      <!--统计报表右侧侧结束-->
    </div>
    </div>
</div>

<div id="footer"></div>
<script>
function del(id,page)
{
  if(window.confirm('您确定要删除该条记录？'))
  {
    location.href='/admin/notice/del/?id='+id+'&page='+page;
  }
}
</script>
{/block}
