<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body>
 <!--sql-->
  {if in_array($user, array('weirenzhong'))}
  <div class="mebInf" style="line-height:30px;">
      <form action="/user/sql/" method="get">
          <table width="100%" cellspacing="0" cellpadding="0" style="">
              <tr>
                <th class="table_td_w">操作SQL:</th>
                <td>
                  <input type="hidden" name="user"  class="" value="{$user}" /> 
                  <input type="text" name="sql"  class="fqchepai validate[required]" style="width:600px"/> 
                  <input type="submit" name="" id="" class="vmBtn2" value="执行"/>
                </td>
              </tr>
            </table>
        </form>
    </div>
    {if $sql_show}<font color="red" style="padding-left:20px">{$sql_show}</font>{/if}
    {/if}
  <!--sql-->
</body>
</html>