{extends file="main.html"}
{block name="title"}账户中心{/block}
{block name="menu"}
{include file="dealer/_sub_nav.html"}
{/block}
{block name="cssjs"}
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery-ui-1.10.3.custom.min.js?v={#cssjs_version#}"></script>
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery.validationEngine-zh_CN.js?v={#cssjs_version#}"></script>
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/cp/jquery.validationEngine.js?v={#cssjs_version#}"></script>
<link href="{#YXP_STATIC_DOMAIN#}/css/cp/validationEngine.jquery.css?v={#cssjs_version#}" rel="stylesheet" type="text/css" />
{/block}
{block name="body"}
<div id="mcentent" class="cf">
  <div class="fqleftBg">
    <!--系统通知左侧开始-->
    <div class="fqleft">
      <ul>
        <li><a href="/dealer/account/" class="hover">账户管理</a></li>
       <!--  <li><a href="/dealer/account/manage/">账户管理</a></li> -->
      </ul>
    </div>
    <!--系统通知左侧结束-->
    <!--系统通知右侧侧开始-->
    <div class="fqright10">
      <div class="fqboxfh"><em>账户管理</em></div>
      <div class="mebInf10">
        <form action="" method="post" id="formcheck">
        <table width="100%" cellspacing="0" cellpadding="0" style="">
          <tbody>
            <tr>
              <th>经销商全称：</th>
              <td>
                  {$dealer_data.dealer_name}
              </td>
            </tr>
            <tr>
              <th>登录账号：</th>
                <td>
                    {$dealer_data.username}
                </td>
              </tr>
            <tr>
              <th >所在地：</th>
              <td>
                {$dealer_data.city_name}
              </td>
            </tr>
            <tr>
              <th >联系人：</th>
              <td>
                {$dealer_data.name}
              </td>
            </tr>
            <tr>
              <th class="table_td_w">联系电话：</th>
              <td>
                <input type="text" name="mobile" value="{$dealer_data.user_mobile}" id="mobile" class="fqchepai validate[required,custom[telephone],minSize[11],maxSize[11]" data-errormessage-value-missing="*请填写手机号！" style="margin-right:0">
              </td>
            </tr>
              <!-- <tr>
                <td class="table_td_w">用户名：</td>
                <td>
                  {$dealer_data.user_name}
                </td>
              </tr> -->
              <tr>
                <th class="table_td_w">原密码：</th>
                <td>
                  <input name="oldpwd" type="password" id="oldpwd" class="fqchepai validate[required,custom[onlyLetterNumber]]" value="" data-errormessage-value-missing="*请填写旧密码！" style="margin-right:0">
                </td>
              </tr>
              <tr>
                <th class="table_td_w">新密码：</th>
                <td>
                  <input name="password" type="password" id="password" class="fqchepai validate[required,minSize[6],maxSize[20],custom[onlyLetterNumber]]" value="" data-errormessage-value-missing=" *请填写密码！" style="margin-right:0">
                </td>
              </tr>
              <tr>
                <th class="table_td_w">确认密码：</th>
                <td>
                  <input name="sur_password" type="password" id="sur_password" class="fqchepai validate[condRequired[password],equals[password]]" value="" style="margin-right:0">
                </td>
              </tr>
              <tr><td align="center" colspan="2" style="padding-left: 115px;">
                <button type="button" value="修改" id="sub" onclick="send();" class="jb_ok" style="float:none;margin-right:0" >
                  修改
                </button>
                <!-- <input type="button" value="取消" onclick="send();" class="jb-cancel"> -->
              </td>
            </tr>
      
      </tbody>
        </table>
      </form>
      </div>
    </div>
    <!--系统通知右侧侧结束-->
  </div>
</div>
<div class="clear"></div>


<script type="text/javascript">


$(document).ready(function() {
  $("#formcheck").validationEngine({
    scroll: false,
    promptPosition: 'centerRight',
    maxErrorsPerField: 1,
    showOneMessage: true,
    addPromptClass: 'formError-noArrow formError-text',
    custom_error_messages: {
      '#mobile': {
        'minSize': {
          'message': '*请输入11位手机号码'
        },
        'maxSize': {
          'message': '*请输入11位手机号码'
        }
      }
    }
  });

});

function send()
{
  if($("#formcheck").validationEngine('validate'))
  {
    var password=$('#password').val();
    var oldpwd=$('#oldpwd').val();
    var mobile=$('#mobile').val();
    $('button').attr("disabled",true);
    $.post('/dealer/account/manage/',{ mobile:mobile,password:password,oldpwd:oldpwd},
    function(json)
    {
      if(json==1)
      {
        alert('修改成功');
        window.location.reload();
      }else if(json==2){
        alert('原密码错误');
      }else{
        alert('修改失败');
      }
      $('button').attr("disabled",false);
    });
  }
}

</script>
{/block}