{extends file="main.html"}
{block name="title"}竞拍管理{/block}

{block name="cssjs"}
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/js/padapi/common.js?v={#cssjs_version#}"></script>
<script src="{#YXP_STATIC_DOMAIN#}/js/yxp_chosen/yxp_chosen.jquery.js?v={#cssjs_version#}" type="text/javascript"></script>
<link href="{#YXP_STATIC_DOMAIN#}/js/yxp_chosen/yxp_chosen.jquery.css?v={#cssjs_version#}" rel="stylesheet" type="text/css" />
<style type="text/css">
#pre_choose{ cursor: pointer;color: blue; width: 160px; height: 30px;line-height:30px;text-align: center; border: 1px solid #d8d8d8;}
</style>
{/block}

{block name="menu"}
{include file="dealer/_sub_nav.html"}
{/block}

{block name="body"}
<div id="mcentent" class="cf">
  <div class="fqleftBg">
    <!--发起拍卖左侧开始-->
    <div class="fqleft">
      <ul>
        <li><a href="javascript:void(0)" class="hover">竞拍管理</a></li>
      </ul>
    </div>
    <!--发起拍左侧卖开始-->
    <!--发起拍卖右侧侧开始-->
    <div class="fqright">
      <div class="fptitle">
        <ul class="fptitle_title">
          <li>
            <a href="/dealer/auction/owner_bid/" {if $get.status eq '' || $get.status eq '0'}class="current"{/if}>所有的车</a>
          </li>
          <li>
            <a href="/dealer/auction/owner_bid/?status=3" {if $get.status eq 3}class="current"{/if}>我的成交</a>
          </li>
          
         <!--  <li>
            <a href="/dealer/auction/owner_bid/?status=2" {if $get.status eq 2}class="current"{/if}>我的流拍</a>
          </li>
          
          <li>
            <a href="/dealer/auction/all_bid/?status=4" {if $get.status eq 4}class="current"{/if}>历史成交</a>
          </li> -->
          
        </ul>
      </div>
      <div class="fqsearch2">
        <form action="/dealer/auction/owner_bid/" method="get" id="auction_owner_bid">
          <input type="hidden" name="status" id="status" value="{$get.status|default:0}">
          <ul>
            <li style="width:{if ! $get.status}40%{else}100%{/if};" >
              <em class="w60">车系车型：</em>
              <span id="car_name_div">
                  <input type="hidden" id="ford_car_name" name="ford_car_name" value="{$ford.trim_name}">
                  <input type="hidden" id="ford_brand_id" name="ford_brand_id" value="{$ford.brand_id}">
                  <input type="hidden" id="ford_series_id" name="ford_series_id" value="{$ford.series_id}">
                  <input type="hidden" id="ford_trim_id" name="ford_trim_id" value="{$ford.trim_id}">
              </span>
              <span id="ford_chosen_target" style="cursor:pointer;color:blue;">
              {if $ford}
              <span style="cursor:pointer;color:blue">{$ford.serial_name} {$ford.model_name} {$ford.trim_name}</span>
              {else}
              <input type="text" id="pre_choose" value="请选择车型" class="validate[minSize[10]]" readonly >
              {/if}   
              </span>
          </li>
          {if ! $get.status}
          <li style="width:40%">
            <em>车辆状态：</em>
            <span class="">
              <select name="car_status" id="car_status">
                <option value="0">请选择</option>
                <option value="1" {if $get.cstatus ==1}selected="true"{/if}>投标中</option>
                <option value="2" {if $get.cstatus ==2}selected="true"{/if}>竞价中</option>
                <option value="3" {if $get.cstatus ==3}selected="true"{/if}>等待竞价</option>
                <option value="4" {if $get.cstatus ==4}selected="true"{/if}>成交</option>
                <option value="5" {if $get.cstatus ==5}selected="true"{/if}>流拍</option>
              </select>
          </span>
          </li>
          {/if}
          <li>
          <em>车牌号：</em>
          <input name="no" id="no" type="text" class="fqvinm" value="{$get.no|escape:'html'}" style="width: 100px;"/>&nbsp;
          </li>
          <li>
          <em>VIN码：</em>
          <input name="vin" id="vin" type="text" class="fqvinm" value="{$get.vin|escape:'html'}" style="width: 100px;"/>
          </li>
          <li style="width: 320px;">
          <em>车辆所在地区：</em>
          <span class="manager_pro"><select name="provinceid" id="provinceid"></select></span>
          <span class="manager_city"><select class="cityid" name="cityid" disabled="disabled"></select></span>
          <script type="text/javascript">
          var list = new Array();
          {if $get.provinceid}
          list['provinceid'] = '{$get.provinceid}';
          {/if}
          {if $get.cityid}
          list['cityid'] = '{$get.cityid}';
          {/if}
          </script>
          </li>
          <li class="search-li">
          <a href="javascript:auctionlist_search()" class="search-btn" class="search-btn">搜索</a>
          <a href="javascript:reset_search()" style="margin-left:70px" class="search-btn">重置</a>
          </li>
          <li>
          {if $get.status != 4}
          <a href="/dealer/auction/owner_bid/?type=export&brand_id={$get.brand_id}&series_id={$get.series_id}&trim_id={$get.trim_id}&no={$get.no}&vin={$get.vin}&area={$get.area_id}&provinceid={$get.provinceid}&cityid={$get.cityid}&status={$get.status}&cstatus={$get.cstatus}" class="excel-border"><img src="{#YXP_STATIC_DOMAIN#}/chrysler/images/excle1.jpg"></a>
          {else}
           <a href="/dealer/auction/all_bid/?type=export&brand_id={$get.brand_id}&series_id={$get.series_id}&trim_id={$get.trim_id}&no={$get.no}&vin={$get.vin}&area={$get.area_id}&provinceid={$get.provinceid}&cityid={$get.cityid}&status=4" class="excel-border"><img src="{#YXP_STATIC_DOMAIN#}/chrysler/images/excle1.jpg"></a> 
          {/if}
      </li>
    </ul>
</form>
</div>
<div class="fqbox2">
<div class="fqboxfblist">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="tr-h" style="line-height: normal;">
  <td>车辆信息</td>
  <td width="100">拍品编号</td>
  <td width="100">VIN</td>
  <td width="100">车牌号</td>
  {if $get.status == 3}
  <td width="100">成交日期</td>
  {/if}
  {if $get.status == 2}
  <td width="80">流拍日期</td>
  {/if}
  {if $get.status == 1}
  <td width="80">竞价日期</td>
  {/if}
  {if $get.status != 4 && $get.status != 2 && $get.status !=1}
    {if $get.status}
    <td width="100">成交价(万元)</td>
    {else}
    <td width="100">我的投标(万元)</td>
    <td width="100">我的竞价(万元)</td>
    <td width="100">车辆状态</td>
    {/if}
    {if $get.status == 3}
    <td width="100">合手价(万元)</td>
    {/if}
  {/if}
  {if $get.status == 1}
    <td width="100">起拍价(万元)</td>
  {/if}
  {if $get.status != 4}
    <td width="80" class="last">操作</td>
  {else}
    <td width="100">成交价(万元)</td>
    <td width="100" class="last">成交买家编号</td>
  {/if}
</tr>
{if $publish_data}
{foreach $publish_data as $p}
<tr class='{cycle values=",tr-odd"}'>
  <td class="fordtd" style="width:400px">
    {if $p.source_from lt 3}
      <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$p.chake_task_id}" target="_blank" class="blue">{$p.car_name}</a> 
    {else}
      <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$p.hy_carid}" target="_blank" class="blue">{$p.car_name}</a> 
    {/if}
    
  </td>
  <td class="fordtd" style="text-align:center">{$p.pn|default:'--'}</td>
  <td class="fordtd" style="text-align:center">{$p.vin|default:'--'}</td>
  <td class="fordtd" style="text-align:center">{$p.no|default:'--'}</td>
  {if $get.status == 3 || $get.status == 2 || $get.status == 1}
  <td class="fordtd" style="text-align:center" >
    {$p.end_time|date_format:"%Y-%m-%d %H:%M:%S"}
  </td>
  {/if}
  {if $get.status != 4 && $get.status != 2 && $get.status != 1}
    {if $get.status}
    <td class="fordtd" align="center">{$p.price}</td>
    {else}
    <td class="fordtd" align="center">{$p.bid_price}</td>
    {/if}
    {if $get.status == 3 }
    <td class="fordtd" align="center">{$p.total_price}</td>
    {/if}
  {/if}
  {if $get.status == 1} 
  <td class="fordtd" align="center">{$p.start_price}</td>
  {/if}
  {if $get.status == '' || $get.status == 0}
    <td class="fordtd" align="center">{$p.bidding_price}</td>

    <td class="fordtd" align="center">
    {if $p.status == 0}还未开始{/if}
    {if $p.status == 2}流拍{/if}
    {if $p.status == 3}成交{/if}
    {if $p.status != 1}<br />{/if}
    {$p.type}
    </td>
  {/if}
  {if $get.status != 4}
    <td class="fordtd2" align="center">
      <p class="p5">
      <a href="/dealer/auction/publish_bid/?pid={$p.publishid}" class="blue fancybox fancybox.iframe" target="_blank">出价记录</a>
      </p>
    </td>
  {else}    
    <td class="fordtd" align="center">{$p.top_price}</td>
    <td class="fordtd" align="center">{$p.username}</td>
  {/if}
</tr>
{/foreach}
{else}
  <tr><td colspan="8" style="text-align:center;">暂无数据</td></tr>
{/if}
</table>
</div>
</div>
<div class="go-page-r">{$links}</div>
<!--发起拍卖右侧侧结束-->
</div>
</div>
</div>
<script>
$(function(){
    get_getpro(list);
    var apiurl = 'http://padapi.youxinpai.com';
    var settings = {
        id:'yxp_chosen_target',
        enable:true,
        cancel:true,
        footbar_btn_callback:function(event,seltext){
        if(cho_order.get_value(0) && cho_order.get_value(1) && cho_order.get_value(2)) {

            $('#ford_brand_id').val( cho_order.get_value(0) );
            $('#ford_series_id').val( cho_order.get_value(1) );
            $('#ford_trim_id').val( cho_order.get_value(2) );
            var data = cho_order.get_data(2);
            var year = data.fld_ccsj;
            seltext =   cho_order.get_text(0) + " "+ cho_order.get_text(1) + " "+ cho_order.get_text(2);
            $('#ford_car_name').val( seltext );
            event.data.target.text(seltext);
        }            
            },
            items:[
                    {
                        id:'yxp_serial_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=brand&jsoncallback=?&',
                        width:180,
                        valuefield:'iautos_brand_id',
                        showfield:'iautos_brand_name',
                        defaulthtml:'请选择品牌'
                    },
                    {
                        id:'yxp_model_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=series&jsoncallback=?&',
                        group:true,
                        width:180,
                        valuefield:'iautos_series_id',
                        showfield:'iautos_series_name',
                        defaulthtml:'请先选择车系'
                    },
                    {
                        id:'yxp_trim_select',
                        dataurl:apiurl+'/api_car/cxk_brand_series_mode/?type=mode&jsoncallback=?&',
                        width:400,
                        group:true,
                        valuefield:'iautos_mode_id',
                        showfield:'cxk_mode_name',
                        defaulthtml:'请先选择车型'
                    }
            ]
        };

        //初始化品牌车系车型
        cho_order = $("#ford_chosen_target").yxp_chosen(settings);
})
function changetxt(dom){
    if($(dom).val()){
        $('#yxp_trim_select').removeClass("hide");
    }else{
        $('#yxp_trim_select').addClass("hide");
    }  
}
function auctionlist_search() {
  
    var url = '/dealer/auction/owner_bid/?status='+$('#status').val();
    var provinceid = $('#provinceid').val(),
    cityid  = $('#cityid').val(),
    brand   = $('#ford_brand_id').val(),
    model   = $('#ford_series_id').val(),
    trim    = $('#ford_trim_id').val(),
    no      = $('#no').val(),
    vin     = $('#vin').val(),
    area    = $('#yxp_area_select').val(),
    prov    = $('#yxp_prov_select').val(),
    city    = $('#yxp_city_select').val(),
    cstatus = $('#car_status').val();

    if(brand != '') {
        brand = brand.split(',');
        url += '&brand_id='+brand[0];
    }
    if(model != '') {
        model = model.split(',');
        url += '&series_id='+model[0];
    }
    if(trim != '') {
        trim = trim.split(',');
        url += '&trim_id='+trim[0];
    }
    url += provinceid ? '&provinceid='+provinceid : '';
    url += cityid ? '&cityid='+cityid : '';
    url += no ? '&no='+no : '';
    url += vin ? '&vin='+vin : '';
    url += cstatus>0 ? '&cstatus='+cstatus : '';
    location.href = url;
}

function reset_search()
{
  $('#auction_owner_bid input[type=text],input[type=hidden],select').val('');
  $('#status').val('{$get.status}');
  $('#ford_chosen_target').html('<input type="text" id="pre_choose" value="请选择车型" class="validate[minSize[10]]" readonly >');
}
</script>
{/block}
