{extends file="main.html"}
{block name="title"}在线拍卖{/block}
{block name="cssjs"}
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/chrysler/js/mallscript.js?v={#cssjs_version#}"></script>
{/block}
{block name="menu"}
{include file="dealer/_sub_nav.html"}
{/block}

{block name="body" }
<div class="white hallWrap">
  <div class="bid_tit">当前位置：<a href="/dealer/auction/">拍卖大厅</a> > 车辆竞价</div>
  <div class="bid_l">
    <!--左侧切换图 play-->
    <div id="tFocus">
      <div id="tFocus-pic">
        <ul>
        {if $car_data.car_base_img}
            {foreach $car_data.car_base_img as $key=>$val}
              <li>
                <div class="hallItem" style="width:auto">
                  <s><b>{$publish_data.order}</b></s><img src="{#YXP_IMG_DOMAIN#}{$val}" width="527" height="383">
                </div>
              </li>
            {/foreach}
        {else}
          <li>
            <img src="{#YXP_STATIC_DOMAIN#}/chrysler/images/bimg.gif" width="527" height="383">
           </li>
        {/if}
        </ul>
      </div>
      <div id="tFocusBtn">
        <a href="javascript:void(0);" id="tFocus-leftbtn" class="iconbg">上一张</a>
        <div id="tFocus-btn">
          <ul>
          {if $car_data.car_base_img}
            {foreach from=$car_data.car_base_img  key=myid item=val name=smallpic}
              <li {if $smarty.foreach.smallpic.index eq 0}class="active" {/if}><img src="{#YXP_IMG_DOMAIN#}{$val}" width="527" height="383">
              </li>         
            {/foreach}
            {else}
          <li><img src="{#YXP_STATIC_DOMAIN#}/chrysler/images/bimg.gif" width="527" height="383"></li>
         {/if}
          </ul>
        </div>
        <a href="javascript:void(0);" id="tFocus-rightbtn" class="iconbg">下一张</a>
      </div>
      
    </div>
    <!--左侧切换图 stop-->
    <!--左侧详细信息 play-->
    <div class="car_pv">
      <ul>
        <li><span>车辆名称：</span>
        {if $car_data.source_from lt 3}
          <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$car_data.chake_task_id}" title="{$car_data.car_name}" style="color:#000" target="_blank">{$car_data.car_name|truncate:24}</a>   
        {else}
          <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$car_data.hy_carid}" title="{$car_data.car_name}" style="color:#000" target="_blank">{$car_data.car_name|truncate:24}</a>  
        {/if}
        </li>
        <li><span>拍品编号：</span>{$publish_data.pn}</li>
        <li><span>表显里程：</span>{$car_data.shows_mileage|default:0}（公里）</li>
        <li><span>颜色：</span>{$car_data.color|default:'--'}</li>
        <li><span>车牌号码：</span>{$car_data.no|default:'--'}</li>
        <li><span>投标开始时间：</span>{$publish_data.start_time|date_format:'%Y-%m-%d %H:%M:%S'}</li>
        <li><span>竞价开始时间：</span>{$publish_data.bid_time|substr:0:4}-{$publish_data.bid_time|substr:4:2}-{$publish_data.bid_time|substr:6:2} {$publish_data.bid_time|substr:8:2}:{if $publish_data.order lt 6}0{($publish_data.order-1)*2}{else}{($publish_data.order-1)*2}{/if}:00</li>
        <li><span>起拍价：</span>{$publish_data.start_price|default:'--'}万元</li>
      </ul>
    </div>
    <!--左侧详细信息 stop-->
    <div class="l-btn">
      {if $car_data.source_from lt 3}
        <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$car_data.chake_task_id}" target="_blank">查客报告</a> 
      {else}
        <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$car_data.hy_carid}" target="_blank">查客报告</a> 
      {/if}
     
    <a href="/dealer/auction/"class="fr" target="">返回拍卖大厅</a>
    <!-- <a href="javascript:history.go(-1)"class="fr" target="_blank">返回拍卖大厅</a> -->
    </div>
  </div>
        <div class="bid_r">
        <!--右侧拍卖信息 play-->
            <div class="dt" >
                <ul style="width:510px;float: left">
                    {if $publish_data.type == 3 }
                    <li>
                        <div class="auction-status">
                          <div class="a-flag">等待投标</div>
                          <div class="a-time">
                          <span>投标开始倒计时:</span>
                          <span id="time" class="time-red">{$countdown_ch}</span>
                          </div>
                        </div>
                    </li>
                    <li>
                        <span class="f1 span-1">起拍价：</span>
                        <span class="br">
                            <em class="fb pink price-color">{$publish_data.start_price}</em>万元
                        </span>
                    </li>
                    {elseif $publish_data.type == 2}
                    <li>
                      <div class="auction-status">
                        <div class="a-flag">正在投标</div>
                        <div class="a-time">
                        <span>投标剩余时间:</span>
                        <span id ="time" class="time-red">{$countdown_ch}</span>
                        </div>
                      </div>
                  </li>

                    <li>
                      {if $publish_data.bided ==1}
                      <span style="display:block;color:red">你已经投标！</span>
                      {/if}
                      <span class="f1 span-1">起拍价：</span><span class="br"><em id="start_price" class="fb pink price-color" style="font-size: 16px;">{$publish_data.start_price}</em>万元</span>
                      <div class ="wn" style="text-align:left;">
                        注意：只接受高于起拍价的出价，对每个车只能进行一次投标。
                      </div>
                    </li>
                   {if $publish_data.bided !=1}
                      <li  id ="bid_show" style = "width:100%;">
                        <span class="f1 pink span-1">您的投标金额：</span>
                      <span id ="p2" class="pos-input">
                      <form id="pp"> 
                      <input name="price_1" id="price_1" type="hidden" class="fp validate[custom[integer]]" maxlength="1"/>&nbsp;
                      <input name="price_2" id="price_2" type="text" value="0" class="fp validate[custom[integer]]" maxlength="1"/>&nbsp;
                      <input name="price_3" id="price_3" type="text" value="0" class="fp validate[custom[integer]]" maxlength="1"/>&nbsp;
                      <input name="price_4" id="price_4" type="text" value="0" class="fp validate[custom[integer]]" maxlength="1"/>&nbsp;.
                      <input name="price_5" id="price_5" type="text" value="0" class="fp validate[custom[integer]]" maxlength="1"/>&nbsp;
                      <input name="price_6" id="price_6" type="text" value="0" class="fp validate[custom[integer]]" maxlength="1"/>
                      <em style=" font-weight:normal">万元</em>
                      </form>
                      </span>
                      </li>
                  {/if}
                    <li><span class="f1 pink span-1">投标价：</span><span class="w-r"><span class="br"><em class="fb grey price-color" id="my_price">{$publish_data.myprice}</em></span><em class="wanyuan">万元</em></span></li>
                    <li class="has-border" style="width:230px"><span class="f1 pink span-1" style="width:64px">佣金：</span><span class="w-r"><span class="br"><em class="fb grey price-color" id="charge_price">{$publish_data.charge_price|default:0.1}</em></span><em class="wanyuan">万元</em></span></li>
                  <li>
                    <span class="f1 pink span-1">合手价：</span><span class="w-r"> <span class="br"><em class="fb grey price-color" id="total_price">{$publish_data.total_price|default:'--'}</em></span><em class="wanyuan">万元</em>
                  </span>
                  </li>
                    {if $publish_data.bided !=1}
                    <li>
                      <button type="button" class="obtn" style="position: absolute;top: 0;cursor:pointer;left: 50%;height: 25px;width: 120px;margin-left: -60px;font: bold 14px/25px 'Microsoft YaHei';border:none" id="submit">确认投标</button>
                    </li>
                    {/if}

                {else}
                  <li>
                    <div class="auction-status">
                      <div class="a-flag a-flag-liupai">投标已结束</div>
                    </div>
                    <div style="text-align:left; margin-top: 40px; color: #e30011;">3秒后跳转到竞拍或结果页</div>
                  </li>
                {/if}               
                </ul>

            <div style="float: left;position: relative;width: 100%;" id="highest">
              {if $publish_data.bided ==1}
                <a class="wait-btn" style="right: 160px;top: -50px;">等待竞价</a>
              {/if}
            </div>
        </div>
        <div class="wn" style="clear: both;">
          <em class="iconbg"></em>为防止网络延迟，错失拍卖良机，请避免在最后一秒投标!
        </div>
        <div class="dt bot-tip" style="text-align:left;">
        交易佣金：<br/>
        当前价的1%；不足1000元的，按照1000元收取、高于3000元的按照3000元收取；<br/>
        </div>
  
    </div>
    
  <div class="clear"></div>
</div>
<script>

    var bid_status='{$publish_data.status}';
    var bid_type = '{$publish_data.type}';
    var curr_price="{$publish_data.curr_price}";
    var pid="{$publish_data.publishid}";
    var btype=1;
    var fpwarnig="";  
    var button_return=1;//防止连续点击，服务端响应后才能再次请求。

    $(document).ready(function(){
      //焦点图JS
      addLoadEvent(Focus());
      //拍卖中时定时刷新，其他情况不刷新
      if(bid_type == '' || bid_type == 1)
      {     
          setTimeout("redirect()", 3000);
      } 
      else 
      {
        setInterval("show_time()", 1000);
      }
    });
    
  //跳转
  function redirect()
  {
    window.location.href='/dealer/auction/bidding/?pid={$publish_data.publishid}';
  }
  //整体刷新
  function refreshWindow()
  {
      window.location.href="/dealer/auction/bid/?pid={$publish_data.publishid}"; 
  }
  
  //显示投标记录
  $('input.fp').bind('keyup blur', function(event){
    
    if($(this).val()=='')
    { 
      if(event.keyCode == 8 || event.keyCode == 46)
      {
        if(pre_var == 0)
        {
          $(this).prev().focus();
          return;
        }
        pre_var = 0;
      }
      if(event.keyCode !=8 && event.keyCode !=46)
      {
        $(this).val(pre_var);
        var flag = 1;
      }
      
    }
    var p1 = get_int(1)*1000,
    p2 = get_int(2)*100,
    p3 = get_int(3)*10,
    p4 = get_int(4),
    p5 = get_int(5)*0.1,
    p6 = get_int(6)*0.01;
    var price = p1+p2+p3+p4+p5+p6;
    price = (parseFloat(price*10000).toFixed(2))/10000;
    $('#my_price').text(price); //起拍
    $('#my_price1').text(price);
    total_price(price);

    if($(this).val() != '' && !isNaN($(this).val()))
    { 
      if(flag != 1)
      { 
        $(this).next().focus();
      }
    }
});

//合手价计算
function total_price(price)
{
    var charge_price = 0;
    var price = price*10000;
    var total_price = 0;
    if(price<100000)
    {
        charge_price = 1000;
    } 
    else if(price<300000)
    {
        charge_price = price*0.01;//1%的佣金
    } 
    else
    {
        charge_price = 3000;
    }

    total_price  = (Math.round((price + charge_price)*0.01)*0.01).toFixed(2);
    charge_price = (Math.round(charge_price*0.01)*0.01).toFixed(2);
    $("#charge_price").text(charge_price);
    $("#total_price").text(total_price);
}
//格式化输入
function get_int(id) {
  var ret = parseInt($('#price_'+id).val());
  return isNaN(ret) ? 0 : ret;
}

$('#submit').click(function(){
  var price = parseFloat($('#my_price').text()).toFixed(2);
  var start_price = parseFloat($('#start_price').text()).toFixed(2);
  if((start_price - price)>=0)
  {
    alert('投标失败,投标金额要大于起拍价!');
    return false;
  }
  if(confirm('您的投标金额为'+price+'万元'))
  {
    $('#submit').attr("disabled",true);
      var price = parseFloat($('#my_price').text()).toFixed(2);
      var total_price = $("#total_price").text();
      $.getJSON('/dealer/auction/bid/',{ type:'bid', pid:pid, price:price, total_price:total_price},
            function(json)
            { 
              if(json.status == 0)
              {
                alert(json.msg);
              } 
              else if (json.status == 1) 
              {
                  $("#my_price").text(json.myprice);
                  alert(json.msg);
                  refreshWindow();
              }
              $('#submit').attr("disabled",false);
            });
  }

});

$('#pp input').focus(function(e){
  var val = $(this).val();
  pre_var = val;
  $(this).val('');
});

$('#pp input').blur(function(e){
  var val = $(this).val();
  if(isNaN(val) || val=='')
  {
    $(this).val(0);
  }
});

  function refresh(){
    window.location.reload();
  }
  //剩余时间计算
  function getTime(ele)
  {
    var remain_time = parseInt($(ele).attr('id'));
    var hour   = Math.floor(remain_time / 3600);
    var minute = Math.floor((remain_time % 3600)/60);
    var second = Math.floor((remain_time % 3600)%60);

    if(hour>0)
    {
      var show = hour+'小时'+minute+'分'+second+'秒';
    }
    else if(minute>0)
    {
      var show = minute+'分'+second+'秒';
    }
    else if(second>=0)
    {
      var show = second+'秒';
    }
    else
    {
      window.location.reload();
    }
    $(ele).text(show);
    $(ele).attr('id',remain_time-1);
  }
  //显示倒计时间
  function show_time()
  {
    var time = $('#time > i');
    getTime(time);
  }

</script>
<style type="text/css">
#price_1,#price_2,#price_3,#price_4,#price_5,#price_6{ width: 30px;height: 30px;line-height:30px;
  font-size: 20px;
}

</style>
{/block}
