{extends file="main.html"}
{block name="title"}在线拍卖{/block}
{block name="cssjs"}
<script type="text/javascript" src="{#YXP_STATIC_DOMAIN#}/chrysler/js/mallscript.js?v={#cssjs_version#}"></script>
<style type="text/css">
  #highest i{ font-size: 13px;
             margin-right:5px;
             background:#0095c7;
             color:#fff;
             border:none;
             display: block;
             float: left;
             line-height: 20px;
  }
  .btn-pos .btn-1 { line-height: 0px;}
  .btn-pos { z-index: 100;}
</style>
{/block}
{block name="menu"}
{include file="dealer/_sub_nav.html"}
{/block}

{block name="body"}
<div class="white hallWrap">
  <div class="bid_tit">当前位置：<a href="/dealer/auction/">拍卖大厅</a> > 车辆竞价</div>
  <div class="bid_l">
    <!--左侧切换图 play-->
    <div id="tFocus">
      <div id="tFocus-pic">
        <ul>
        {if $car_data.car_base_img}
            {foreach $car_data.car_base_img as $key=>$val}
              <li>
                <div class="hallItem" style="width:auto">
                  <s><b>{$publish_data.order}</b></s><img src="{#YXP_IMG_DOMAIN#}{$val}" width="527" height="383">
                </div>
              </li>
            {/foreach}
        {else}
          <li>
            <img src="{#YXP_STATIC_DOMAIN#}/jaguar/images/bimg.gif" width="527" height="383">
           </li>
        {/if}
        </ul>
      </div>
      <div id="tFocusBtn">
        <a href="javascript:void(0);" id="tFocus-leftbtn" class="iconbg">上一张</a>
        <div id="tFocus-btn">
          <ul>
          {if $car_data.car_base_img}
            {foreach from=$car_data.car_base_img  key=myid item=val name=smallpic}
              <li {if $smarty.foreach.smallpic.index eq 0}class="active" {/if}><img src="{#YXP_IMG_DOMAIN#}{$val}" width="527" height="383"></li>                 
            {/foreach}
          {else}
          <li><img src="{#YXP_STATIC_DOMAIN#}/jaguar/images/bimg.gif" width="527" height="383"></li>
         {/if}
          </ul>
        </div>
        <a href="javascript:void(0);" id="tFocus-rightbtn" class="iconbg">下一张</a>
      </div>
      
    </div>
    <!--左侧切换图 stop-->
    <!--左侧详细信息 play-->
    <div class="car_pv">
      <ul>
        <li><span>车辆名称：</span>
        {if $car_data.source_from lt 3}
          <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$car_data.chake_task_id}" title="{$car_data.car_name}" style="color:#000" target="_blank">{$car_data.car_name|truncate:24}</a>   
        {else}
          <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$car_data.hy_carid}" title="{$car_data.car_name}" style="color:#000" target="_blank">{$car_data.car_name|truncate:24}</a>  
        {/if}
        </li>
        <li><span>拍品编号：</span>{$publish_data.pn}</li>        
        <li><span>表显里程：</span>{$car_data.shows_mileage|default:0}（公里）</li>
        <li><span>颜色：</span>{$car_data.color|default:'--'}</li>
        <li><span>车牌号码：</span>{$car_data.no|default:'--'}</li>
        <li><span>投标开始时间：</span>{$publish_data.start_time|date_format:'%Y-%m-%d %H:%M:%S'}</li>
        <li><span>竞价开始时间：</span>{$publish_data.bid_time|substr:0:4}-{$publish_data.bid_time|substr:4:2}-{$publish_data.bid_time|substr:6:2} {$publish_data.bid_time|substr:8:2}:{if $publish_data.order lt 6}0{($publish_data.order-1)*2}{else}{($publish_data.order-1)*2}{/if}:00
        </li>
        <li><span>起拍价：</span>{$publish_data.start_price|default:'--'}万元</li>
      </ul>
    </div>
    <!--左侧详细信息 stop-->
    <div class="l-btn">
      {if $car_data.source_from lt 3}
        <a href="{$dict_domain_chake}/mobile/ReportInfo.aspx?taskId={$car_data.chake_task_id}" target="_blank">查客报告</a> 
      {else}
        <a href="{$dict_domain_chake}/Mobile/ReportNew.aspx?CarId={$car_data.hy_carid}" target="_blank">查客报告</a> 
      {/if}
        <a href="/dealer/auction/" class="fr" target="">返回拍卖大厅</a>
    </div>
     
  </div>
       <div class="bid_r" style="position: relative;">
        {if $publish_data.bidding_status == 2}
        <!--右侧拍卖信息 -->
        <div class="dt" >
            <ul style="width:510px;">
                <li> 
                    <div class="auction-status">
                      <div class="a-flag">正在竞价</div>
                    </div>
                </li>
              <!--<li><span class="f1">拍卖底价：</span><span class="br"><em class="fb pink">{$publish_data.start_price}</em>万元</span></li>-->
                <li class="bor-span">
                    <span class="f1 pink span-1">当前价：</span>
                    <span class="br">
                        <em class="fb grey price-color" id="curr_price">{$publish_data.curr_price}
                        </em>
                    </span>
                    {if $publish_data.curr_price gt 0}<em class="wanyuan">万元</em>{/if}
                </li> 
                <li>
                    <span style="font-weight: normal;font-size: 16px;">竞价手次
                        <b id="bid_times" style="color: #0095c7;">
                            {$publish_data.bid_times}
                        </b>次
                    </span>
                </li>
                <li>
                    <span class="f1 span-1">您的竞价金额：</span><span class="w-r"><span class=""><em class="fb pink price-color" id="my_price">{$publish_data.myprice}</em>
                  </span>
                    <em class="wanyuan">万元</em>
                  </span>

                </li>
                <li class="has-border" style="width:270px">
                    <span class="f1 span-1" style="width: 112px;">佣金：</span><span class="w-r"><span><em class="fb pink price-color" id="charge_price">{$publish_data.charge_price|default:'0.1'}</em><em class="wanyuan">万元</em></span></span>
                </li> 
                <li>
                    <span class="f1 pink span-1" style="width: 112px;">合手价：</span><span class="w-r"><span><em class="fb grey price-color" id="total_price">{$publish_data.total_price|default:'--'}</em>
                    </span>
                    <em class="wanyuan">万元</em>
                    </span>

                </li>
                <li>
                    <span class="f1 pink span-1" style="width: 112px;">您的投标金额：</span><span class="w-r"><span><em class="fb grey price-color" id="total_price">{$publish_data.my_bid_price|default:'--'}</em>
                    </span>
                    <em class="wanyuan">万元</em>
                    </span>

                </li>

            </ul>
            <span style="font-size: 13px;color: #e30011;position: absolute;top: 56px;right: 0px;display:block;" id="highest">
              <i id="nt-1" >
                  {if $publish_data.curr_price == $publish_data.myprice}
                    您是竞价最高价!
                  {/if}
              </i>
              <i id="over_price"></i>
              <i id="over_bid_price"></i>
            </span>
            
        </div>
        
        <div class="wn"><em class="iconbg"></em>为防止网络延迟，错失拍卖良机，请避免在最后一秒出价!
        </div>
        
            <!-- <div class="cjbox ac"> -->
            <div>
                <!-- <div class="text span-1">我的出价：是指在当前价基础上加价</div> -->
                <div class="btn-pos">
                <button onClick="javascript:bidding(500);" id="add1000" class="btn btn-1 iconbg" style="left:20px; border:none;cursor:pointer;">+500元</button>
                <button onClick="javascript:bidding(1000);" id="add3000" class="btn btn-1 iconbg" style="left:135px;border:none;cursor:pointer;">+1000元</button>
                <button onClick="javascript:bidding(2000);" id="add5000" class="btn btn-1 iconbg" style="left:135px;border:none;cursor:pointer;">+2000元</button>
                </div>
                <div class="time info-price info-price1">
                <span id="countdown0" style="display:none">{$countdown_msg}</span><em>
                <span id="countdown1">{$countdown_ch}</span></em></div>
            </div>
            <!--右侧拍卖信息 stop-->
            <!--右侧投标记录 play-->
            <div class="bid_list" style="margin-top: 20px;">
              <div class="dt bot-tip" style="text-align:left;">
                交易佣金：<br/>
                当前价的1%；不足1000元的，按照1000元收取、高于3000元的按照3000元收取；<br/>
            </div>
            </div>
            <div id="top_username" class="hide-record"></div>
            <div id="bid_list_data" class="hide-record"></div>
            <div id="bid_online" class="hide-record"></div>
        <!--右侧投标记录 stop-->
        {else}
            <div class="dt" >
                <ul style="width:510px;float: left">
                    <li>
                         <div class="auction-status">
                        {if $publish_data.status ==2}
                            <div class="a-flag a-flag-liupai">流拍</div>
                        {elseif $publish_data.status==3}
                            <div class="a-flag a-flag-chengjiao">成交</div>
                        {else}
                            <div class="a-flag">等待竞价</div>
                        {/if}
                        </div>
                    </li>
                {if $publish_data.status gt 1}
                    <div class="red bid-txt">
                    {if $publish_data.top_price lt $publish_data.price}
                        <span class="wenan wenan-1">很遗憾，此车拍卖最高价未达到保留价，已流拍！</span>
                        <span class="wenan wenan-2">
                          {if $publish_data.myprice gt 0 or $publish_data.my_bid_price gt 0}
                            {if $publish_data.myprice gt $publish_data.my_bid_price }
                              您的最高出价：<b>{$publish_data.myprice}</b>
                              <em class="wanyuan">万元</em>(竞价)
                            {else}
                              您的最高出价：<b>{$publish_data.my_bid_price}</b>
                              <em class="wanyuan">万元</em>(投标)
                            {/if}

                          {else}
                            您未出价
                          {/if}

                        </span>
                    {elseif $publish_data.mybid eq $publish_data.publish_bid}
                        <span class="wenan wenan-3">恭喜您，您的出价是拍卖最高价，已竞得此车！</span>
                        <span class="wenan wenan-2"><span class="w-l-span">成交价：</span><span class="w-r"><b class="w-r-b">{$publish_data.top_price}</b>万元</span>
                        {if $publish_data.top_bid_type==1}
                        (投标)
                        {else}
                        (竞价)
                        {/if}
                        </span>
                        <span class="wenan wenan-2 wenan-22" style="width: 210px;"><span class="w-l-span" style="text-align: right;">佣金：</span><span class="w-r"><b class="w-r-b">{$publish_data.over_charge_price}</b>万元</span></span>
                        <span class="wenan wenan-2"><span class="w-l-span">合手价：</span><span class="w-r"><b class="w-r-b">{$publish_data.over_total_price}</b>万元</span></span>
                    {else}
                        <span class="wenan wenan-1">很遗憾，您未竞得此车！</span>
                        <span class="wenan wenan-2">本次拍卖最高价：<b>{$publish_data.top_price}</b>万元</span>
                        <span class="wenan wenan-2">
                          {if $publish_data.myprice gt 0 or $publish_data.my_bid_price gt 0}
                            {if $publish_data.myprice gt $publish_data.my_bid_price }
                              您的最高出价：<b>{$publish_data.myprice}</b>
                              <em class="wanyuan">万元</em>(竞价)
                            {else}
                              您的最高出价：<b>{$publish_data.my_bid_price}</b>
                              <em class="wanyuan">万元</em>(投标)
                            {/if}

                          {else}
                            您未出价
                          {/if}
                        </span>
                    {/if}
                    </div>
                    <span>
                    <!-- {if $publish_data.next_publishid gt 0}
                    <a class="next-bid" href="/dealer/auction/bidding/?pid={$publish_data.next_publishid}">下一拍品</a>
                    {/if} -->
                  </span>
              {else}
              <!-- 在排队中等待竞价 -->
                    <li>
                        <div class="time info-price">
                            <span id="bid_type" style="display:none;"><i></i></span>
                            <span id="countdown0">{$publish_data.countdown_msg}</span>
                            <em><span id="countdown1">{$publish_data.countdown_show}</span></em>
                        </div>
                    </li>
                    <li class="bor-span"><span class="f1 pink span-1">您的投标金额：</span><span class="br"><em class="fb grey price-color" id="my_bid_price">{$publish_data.my_bid_price}</em></span>{if $publish_data.my_bid_price gt 0}
                        <em class="wanyuan">万元</em>
                      {/if}
                      </li> 
                      <li class="img-tip">
                        投标已结束，等待竞价<br />
                        敬请关注
                      </li>
              {/if}
                    <li><span class="f1 span-1">起拍价：</span><span class="w-r"><span class="br"><em class="fb pink price-color">{$publish_data.start_price}</em>万元</span></span></li>

                    <li>
                    {if $publish_data.pre_publishid gt 0}
                      <span>
                        <a class="next-bid" style="float:left;" href="/dealer/auction/bidding/?pid={$publish_data.pre_publishid}">上一拍品</a>
                      </span>
                    {/if}
                    {if $publish_data.next_publishid gt 0}
                      <span>
                        <a class="next-bid" href="/dealer/auction/bidding/?pid={$publish_data.next_publishid}">下一拍品</a>
                      </span>
                    {/if}
                    </li>
                </ul>
            </div>
        {/if}
      </div>
  <div class="clear"></div>
</div>
<script>

  var bid_status="{$publish_data.status}";//状态1、拍卖中
  var pid="{$publish_data.publishid}";//发拍id
  $(document).ready(function(){
      //焦点图JS
      addLoadEvent(Focus());
      //拍卖中时定时刷新，其他情况不刷新
      if(bid_status == 1)
      {
         setInterval("refresh()",1000);
      } 
      
  });
  //整体刷新
  function refreshWindow()
  {
      window.location.href="/dealer/auction/bidding/?pid={$publish_data.publishid}";
  }
  //部分刷新
  function refresh()
  {    
        
      $.getJSON('/dealer/auction/bidding/',{ type:'refresh', pid:pid},function(json)
      {
          if(json.refresh_status==1)
          {
              $("#curr_price").text(json.curr_price); 
              $("#my_price").text(json.myprice);
              $("#charge_price").text(json.charge_price); 
              $("#total_price").text(json.total_price);
              $("#bid_times").text(json.bid_times);
              $("#bid_type").text(json.bidding_status);
              show_bid_list(json);
              $("#countdown0").html(json.countdown_msg);  
              $("#countdown1").html(json.countdown_show);  
              if(json.curr_price == json.myprice)
              {
                $("#highest #nt-1").text("您是竞价最高价!");
              }
              else
              {
                $("#highest #nt-1").text("");
              }
              if(json.over_price ==1)
              {
                $("#over_price").text("已过保留价!");
              }
              if(json.over_bid_price ==1)
              {
                $("#over_bid_price").text("已过投标最高价!");
              }
              if($("#bid_type").text()=='2')
              {
                refreshWindow();
              }
          }else{
              refreshWindow();//刷新整个页面
          }
      });
  }
  //竞价请求
  function bidding(price)
  {
      var cur_price = parseFloat($("#curr_price").text()).toFixed(2);
      if(isNaN(cur_price))
      {
        cur_price = '0.00';
      }
      if(bid_status !=1){
        return;
      }
      
  $('button').attr('disabled',true);
  $.getJSON('/dealer/auction/bidding/',{ type:'bidding', pid:pid, price:price, curr_price:cur_price },
      function(json)
      {   
          if(json.refresh_status==1)
          {
              $("#curr_price").text(json.curr_price); 
              $("#my_price").text(json.myprice); 
              $("#charge_price").text(json.charge_price); 
              $("#bid_times").text(json.bid_times); 
              $("#countdown1").html(json.countdown);       
          }
          else
          {   $("#highest #nt-1").text(json.msg);
              
          }

        $('button').attr('disabled',false);
      });
  }
  //显示投标记录
  function show_bid_list(json){
    var bid_list="";  
    var top_uid=0;
    var records=json.bid_list;
    if(records.bid_list && records.bid_list.length >0){
      top_uid=records.bid_list[0].uid;
      //$("#top_username").text(records.bid_list[0].user_mobile_erp);
      //在线竞价人数
      //$("#bid_online").text(records.bid_online);
        bid_list+='<table width="100%" border="0" cellspacing="0" cellpadding="0">';
        bid_list+='<tr class="th-tit"><td>时间</td><td>电话</td><td>出价手次</td><td>投标价（万元）</td></t>';
    for(var b in records.bid_list){
        
      if(records.bid_list[b].uid==top_uid){
        bid_list+='<tr class="bg_gray">';
      }
      else{
        bid_list+="<tr>";
      }
      bid_list+="<th>"+records.bid_list[b].time_show+"</th>";
      bid_list+="<th>"+records.bid_list[b].user_mobile_erp+"</th>";
      bid_list+="<th>"+records.bid_list[b].count_bid+"</th>";
      bid_list+="<th>"+records.bid_list[b].price+"</th>";
      bid_list+="</tr>";
      } 
    }
    else{
      bid_list+="<tr><td style='text-align:center;'>暂无数据</td></tr>";
    }
    bid_list+='</table>';
    $("#bid_list_data").html(bid_list);
  }
</script>
{/block}
